﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Localidad";
}

@section scripts {
    <script src="@Url.Content("~/assets/scripts/Localidad/LocalidadJS.js?v" + @DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>
}
<input type="hidden" id="id_localidad" name="id_localidad" value="" />
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-user font-blue-ebonyclay"></i>
                    <span class="caption-subject bold font-blue-ebonyclay uppercase"> Localidades </span>
                </div>
                <div class="inputs" style=" width: 40%;">
                    <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                        <select id="cmbProvincia" name="IdProvincia" class="form-control" data-placeholder="Seleccione una provincia">
                            <option value="0" disabled selected>Seleccione una provincia</option>
                            @foreach (var p in ViewData["provincias"] as List<Provincia>)
                            {
                                <option value="@p.id_provincia">@p.descripcion</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-8" id="PanelTablaLocalidad">
                        <!-- BEGIN TABLE PORTLET-->
                        <div class="table table-borderless">
                            <table class="table table-bordered table-striped table-condensed table-light" id="tabla">
                                <thead>
                                    <tr>
                                        <th>
                                            Descripción
                                        </th>
                                        <th>
                                            Latitud
                                        </th>
                                        <th>
                                            Longitud
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                    <div class="col-md-4">
                        <!-- BEGIN ABM PORTLET-->
                        <div class="portlet light" id="panelDatosLocalidad">
                            <div class="portlet-title">
                                <div class="caption font-blue-ebonyclay">
                                    <i class="icon-pin font-blue-ebonyclay"></i>
                                    <span class="caption-subject bold uppercase"> GESTIONAR </span>
                                    <span class="caption-helper">
                                        <strong id="tit"></strong>
                                    </span>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <form id="form" role="form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="alert alert-danger display-hide">
                                                    <button class="close" data-close="alert"></button>
                                                    <span id="errorLabel"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Descripción</label>
                                                    <input class="form-control" name="Descripcion" id="txtDescripcion" />
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Latitud</label>
                                                    <input class="form-control" name="Latitud" id="txtLatitud" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Longitud</label>
                                                    <input class="form-control" name="Longitud" id="txtLongitud" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions noborder" align="center">
                                        <button type="button" onclick="enviarForm();" class="btn green-jungle">Guardar</button>
                                        <button type="button" onclick="clearForm();" class="btn grey-salsa">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END ABM PORTLET-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>