﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cliente";
}

@section scripts {
    <script src="@Url.Content("~/assets/scripts/Cliente/ClienteJS.js?v" + @DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/scripts/Cliente/SucursalJS.js?v" + @DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/scripts/Cliente/ContactoJS.js?v" + @DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>
}

<input type="hidden" id="id_cliente" name="id_cliente" value="" />
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-user font-blue-ebonyclay"></i>
                    <span class="caption-subject bold font-blue-ebonyclay uppercase">  Clientes </span>
                </div>
                <div class="inputs" style=" width: 40%;">
                    <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                        <select id="cmbCliente" name="IdCliente" class="form-control select2">
                            <option value="0" disabled selected>Seleccione un cliente</option>
                            @foreach (var c in ViewData["clientes"] as List<Cliente>)
                            {
                                <option value="@c.id_cliente">@c.descripcion</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <div @*class="profile-sidebar"*@ id="PanelCliente">
                            <div class="portlet light profile-sidebar-portlet bordered">
                                <div class="justify-content-center" id="avisoBusqueda" hidden>
                                    <div class="col-md-12">
                                        <div class="alert alert-warning">
                                            No <strong>existe</strong>  el cliente que busca.
                                        </div>
                                    </div>
                                </div>
                                <div class="justify-content-center" id="avisoImagen" hidden>
                                    <div class="col-md-12">
                                        <div class="alert alert-info">
                                            <strong>Clickee</strong> la imagen para cambiar el logo.
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-userpic">
                                    <img id="logo_cliente" src="~/assets/img/profile_user.jpg" class="img-responsive" alt="">
                                    <div hidden>
                                        <input type='file' id="inputFile" hidden disabled />
                                    </div>
                                </div>
                                <div class="profile-usertitle" id="DivDescripcionNoEditable">
                                    <div class="profile-usertitle-name">
                                        <text id="descripcionNoEditable"><text>
                                    </div>
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <div class="form-group" id="DivDescripcionEditable" hidden>
                                        <input type="text" class="form-control input-lg" id="descripcion" name="Descripcion" placeholder="Descripción" maxlength="50">
                                    </div>
                                </div>
                                <div class="profile-userbuttons ">
                                    <button type="button" id="btnNuevo" class="btn blue-ebonyclay btn-sm"><i class="fa fa-plus"></i> Nuevo Cliente</button>
                                    <button type="button" id="btnEditar" class="btn green btn-sm hidden">Editar</button>
                                    <button type="button" id="btnGuardar" onclick="enviarForm(false);" class="btn green-jungle btn-sm hidden">Guardar</button>
                                    <button type="button" id="btnBorrar" class="btn red btn-sm hidden eliminar">Borrar</button>
                                    <button type="button" id="btnCancelar" class="btn grey-salsa btn-sm hidden cancelar">Cancelar</button>
                                </div>

                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="profile-content">
                            <div class="portlet light bordered">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-ebonyclay bold uppercase">SUCURSALES Y CONTACTOS</span>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"> Sucursales </a>
                                        </li>
                                        <li class="">
                                            <a href="#tab_1_2" data-toggle="tab" aria-expanded="false"> Contactos </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="portlet-body">
                                    <!--BEGIN TABS-->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_1_1">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="text-right">
                                                        <button id="nuevaSucursal" class="btn blue-ebonyclay btn-sm" href="javascript:;" onclick="$('#modalSucursal').modal('show');">
                                                            <i class="fa fa-plus"></i> Nueva Sucursal
                                                        </button>
                                                    </p>
                                                    <!-- BEGIN TABLE PORTLET-->
                                                    <div id="PanelTablaSucursales">
                                                        <div class="table table-borderless">
                                                            <table class="table table-bordered table-striped table-condensed table-light" id="tabla">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            Sucursal
                                                                        </th>
                                                                        <th>
                                                                            Dirección
                                                                        </th>
                                                                        <th>

                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END EXAMPLE TABLE PORTLET-->
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_1_2">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="text-right">
                                                        <button id="nuevoContacto" class="btn blue-ebonyclay btn-sm" href="javascript:;" onclick="$('#modalContacto').modal('show');">
                                                            <i class="fa fa-plus"></i> Nuevo Contacto
                                                        </button>
                                                    </p>
                                                    <!-- BEGIN TABLE PORTLET-->
                                                    <div id="PanelTablaContactos">
                                                        <div class="table table-borderless">
                                                            <table class="table table-bordered table-striped table-condensed table-light" id="tablaContactos">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            Nombre y Apellido
                                                                        </th>
                                                                        <th>
                                                                            Sucursal
                                                                        </th>
                                                                        <th>

                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <!-- END EXAMPLE TABLE PORTLET-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Modal Sucursal-->
@await Html.PartialAsync("/Views/Cliente/iPartialModalSucursal.cshtml")

<!--Modal Contacto-->
@await Html.PartialAsync("/Views/Cliente/iPartialModalContacto.cshtml")


<!--Modal confirmación cliente-->
<div class="bootbox modal fade in" id="modalConfirmacionCliente" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>CONFIRMACIÓN</strong></h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">¿Estás seguro que deseas <strong>borrar</strong> este cliente?</div>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="success" type="button" id="confirmacionAceptarCliente" class="btn green-jungle">Aceptar</button>
                <button data-bb-handler="danger" type="button" id="confirmacionCancelarCliente" class="btn red">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal confirmación sucursal-->
<div class="bootbox modal fade in" id="modalConfirmacionSucursal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>CONFIRMACIÓN</strong></h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">¿Estás seguro que deseas <strong>borrar</strong> esta sucursal?</div>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="success" type="button" id="confirmacionAceptarSucursal" class="btn green-jungle">Aceptar</button>
                <button data-bb-handler="danger" type="button" id="confirmacionCancelarSucursal" class="btn red">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal confirmación contacto-->
<div class="bootbox modal fade in" id="modalConfirmacionContacto" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>CONFIRMACIÓN</strong></h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">¿Estás seguro que deseas <strong>borrar</strong> este contacto?</div>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="success" type="button" id="confirmacionAceptarContacto" class="btn green-jungle">Aceptar</button>
                <button data-bb-handler="danger" type="button" id="confirmacionCancelarContacto" class="btn red">Cancelar</button>
            </div>
        </div>
    </div>
</div>


