﻿<!--Modal Contacto-->
<div class="modal fade" id="modalContacto" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>Gestionar Contacto</strong></h4>
            </div>
            <div class="modal-body" id="PanelDatosSucursal">
                <form id="formContacto" role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                <span id="errorLabel"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_control">Nombre</label>
                                    <input class="form-control" name="Nombre" id="txtNombre" maxlength="100" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_control">Apellido</label>
                                    <input class="form-control" name="Apellido" id="txtApellido" maxlength="30" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                    <label for="cmbSucursal" class="control-label">Sucursal</label>
                                    <select id="cmbSucursal" name="IdSucursal" class="form-control select2" data-placeholder="Seleccione"></select>
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_control">Teléfono</label>
                                        <input class="form-control" name="Teléfono" id="txtTelefono" maxlength="10" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_control">Mail</label>
                                        <input class="form-control" name="Mail" id="txtMail" maxlength="100" />
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="enviarFormContacto();" class="btn green-jungle">Guardar</button>
                <button type="button" onclick="clearFormContacto();" class="btn grey-salsa">Cancelar</button>
            </div>
        </div>
    </div>
</div>