﻿<!--Modal Sucursal-->
<div class="modal fade" id="modalSucursal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>Gestionar Sucursal</strong></h4>
            </div>
            <div class="modal-body" id="PanelDatosSucursal">
                <form id="form" role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                <span id="errorLabel"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Descripción</label>
                                    <input class="form-control" name="DescripcionSucursal" id="txtDescripcion" maxlength="50" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                    <label for="cmbProvincia" class="control-label">Provincia</label>
                                    <select id="cmbProvincia" name="IdProvincia" class="form-control" data-placeholder="Seleccione"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                    <label for="cmbLocalidad" class="control-label">Localidad</label>
                                    <select id="cmbLocalidad" name="IdLocalidad" class="form-control" data-placeholder="Seleccione"></select>
                                </div>
                            </div>
                            @*<div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">SLA</label>
                                    <input class="form-control" name="SLA" id="txtSLA" maxlength="50" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="button" onclick="enviarFormSucursal();" class="btn green-jungle">Guardar</button>
                            </div>*@
                        <div class="col-md-4">
                            <label class="control-label">SLA</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="SLA" id="txtSLA">
                                <span class="input-group-btn">
                                    <button onclick="UpdateSLA();" class="btn blue" type="button">Actualizar</button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="txtCalle" class="control-label">Dirección</label>
                                    <input class="form-control" name="Direccion" id="txtDireccion" maxlength="200" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="form_control">Código Postal</label>
                                    <input class="form-control" name="CodigoPostal" id="txtCodigoPostal" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="enviarFormSucursal();" class="btn green-jungle">Guardar</button>
                <button type="button" onclick="clearFormSucursal();" class="btn grey-salsa">Cancelar</button>
            </div>
        </div>
    </div>
</div>