﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <!-- CARGAR ESTILOS -->
    @Html.Partial("_PartialCss")
</head>
<body class="page-sidebar-closed-hide-logo page-content-white page-header-fixed page-footer-fixed" style="max-width: 100%; top: 0; left: 0; bottom: 0; right: 0; overflow-x: hidden; background: white; ">
    <div class="page-wrapper">
        @Html.Partial("_PartialMenu")
        @{
            var b1 = ViewContext.HttpContext.Request.Scheme;
            var b2 = ViewContext.HttpContext.Request.Host;

            var baseUrl = $"{b1}://{b2}/";
        }
        <input id="baseUrl" type="hidden" value="@baseUrl" />
        <div class="container" style="display: contents;">
            <div class="page-container">
                @RenderBody()
            </div>
        </div>


        <div class="page-footer">
            <div class="page-footer-inner">
                @DateTime.Now.Year © <a href="http://tsw-soluciones.com.ar/">TSW SOLUCIONES</a>
            </div>
        </div>
    </div>
    <!-- CARGAR JS -->
    @Html.Partial("_PartialJs")
    @RenderSection("Scripts", required: false)
</body>
</html>
