﻿ <!-- BEGIN CORE PLUGINS -->
<script src="@Url.Content("~/assets/plugins/jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/js.cookie.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/uniform/jquery.uniform.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<script src="@Url.Content("~/assets/plugins/highcharts/js/highcharts.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/highcharts/js/highcharts-3d.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/highcharts/js/highcharts-more.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/highcharts/charts-highcharts.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/highcharts/js/modules/exporting.js")" type="text/javascript"></script>
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="@Url.Content("~/assets/App/app.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/jquery-validation/js/additional-methods.min.js")" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<script src="@Url.Content("~/assets/plugins/table-datatables-responsive.min.js")" type="text/javascript"></script>
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="@Url.Content("~/assets/App/layout.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/App/demo.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/App/quick-sidebar.min.js")" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="@Url.Content("~/assets/plugins/moment/moment.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/moment/moment-with-locales.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/scripts/datatable.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/datatables/datatables.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/assets/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/bootbox.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/assets/plugins/datatables/table-datatables-editable.js")" type="text/javascript"></script>

<script src="@Url.Content("~/assets/plugins/bootstrap-select/js/bootstrap-select.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/select2/js/select2.full.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/gaugemeter/jquery.AshAlom.gaugeMeter-2.0.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/moment-with-locales.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/bootstrap-daterangepicker/daterangepicker.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.es.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/jstree/jstree.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/bootstrap-fileinput/bootstrap-fileinput.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/bootstrap-toastr/toastr.min.js")" type="text/javascript"></script>
<!--<script src="@Url.Content("~/Scripts/jquery.signalR-2.2.2.min.js")"></script>-->
<script src="@Url.Content("~/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/jquery.input-ip-address-control-1.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/bootstrap3-editable/js/bootstrap-editable.min.js")"></script>

<script src="@Url.Content("~/assets/scripts/functions.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/scripts/ProfilePicture/profilePicture.js")" type="text/javascript"></script>

<script src="@Url.Content("~/assets/plugins/amcharts/amcharts/amcharts.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/amcharts/amcharts/pie.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/amcharts/amcharts/serial.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/amcharts/amcharts/plugins/export/export.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/amcharts/amcharts/themes/light.js")" type="text/javascript"></script>

<script src="@Url.Content("~/assets/plugins/amcharts/amcharts/themes/light.js")" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<script src="http://maps.googleapis.com/maps/api/js?v=3.xp&sensor=true&libraries=places&key=AIzaSyCyIkgRWB4cP7Tpf8lhtetvYldkbsp-0yg" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/goecomplete/jquery.geocomplete.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/typeahead/handlebars.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/typeahead/typeahead.bundle.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/scripts/jquery.validate.js")" type="text/javascript"></script>

<script src="@Url.Content("~/assets/plugins/jquery-ui-1.12.1/jquery-ui.js")" type="text/javascript"></script>
@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

<script type="text/javascript">
    moment.locale('es');
    jQuery(document).ready(function () {
        moment.locale('es');
        //$.oysgroup.Humanizar();
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "6000",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    });
</script>
