﻿<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/uniform/css/uniform.default.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->

<link href="@Url.Content("~/assets/plugins/typeahead/typeahead.css")" rel="stylesheet" type="text/css" />

<!-- BEGIN THEME GLOBAL STYLES -->
<link href="@Url.Content("~/assets/css/components-rounded.min.css")" rel="stylesheet" id="style_components" type="text/css" />
<link href="@Url.Content("~/assets/css/plugins.min.css")" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="@Url.Content("~/assets/css/app/layout.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/css/app/themes/darkblue.min.css")" rel="stylesheet" type="text/css" id="style_color" />
<link href="@Url.Content("~/assets/css/app/custom.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/css/profile-2.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/css/profile.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/css/pricing.min.css")" rel="stylesheet" type="text/css" />
<!-- END THEME LAYOUT STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="@Url.Content("~/assets/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/bootstrap3-editable/css/bootstrap-editable.css")" rel="stylesheet" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="@Url.Content("~/assets/plugins/bootstrap-select/css/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/select2/css/select2.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/select2/css/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="@Url.Content("~/assets/plugins/select2/css/select2.min.css")" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="@Url.Content("~/assets/plugins/bootstrap-daterangepicker/daterangepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css")" rel="stylesheet" type="text/css" />

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="@Url.Content("~/assets/plugins/bootstrap-toastr/toastr.min.css")" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="@Url.Content("~/assets/plugins/jstree/themes/default/style.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/bootstrap-fileinput/bootstrap-fileinput.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/amcharts/amcharts/plugins/export/export.css")" rel="stylesheet" type="text/css" />

@*<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
<link href="@Url.Content("~/assets/plugins/jquery-ui-1.12.1/jquery-ui.css")" rel="stylesheet" type="text/css" />

<!-- END PAGE LEVEL PLUGINS -->

<style>
    .modal-backdrop {
        z-index: 1040 !important;
    }

    .modal-dialog {
        z-index: 999999 !important;
    }

    .select2-dropdown.increasedzindexclass {
        z-index: 10000;
    }

    .select2-container {
        z-index: 999999 !important;
    }

    .datepicker {
        z-index: 99 !important;
    }

    .blockUI {
        z-index: 10000000 !important;
    }

    .pac-container {
        width: auto; /*position: absolute; left: 9px; top: 28px;*/
        display: none;
        background-color: #fff;
        position: absolute !important;
        z-index: 1000;
        border-radius: 2px;
        border-top: 1px solid #d9d9d9;
        font-family: Arial,sans-serif;
        box-shadow: 0 2px 6px rgba(0,0,0,0.3);
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden
    }

    .pac-logo:after {
        content: "";
        padding: 1px 1px 1px 0;
        height: 16px;
        text-align: right;
        display: block;
        background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 120px 14px
    }

    .hdpi.pac-logo:after {
        background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png)
    }

    .pac-item {
        cursor: default;
        padding: 0 4px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 30px;
        text-align: left;
        border-top: 1px solid #e6e6e6;
        font-size: 11px;
        color: #999
    }

        .pac-item:hover {
            background-color: #fafafa
        }

    .pac-item-selected, .pac-item-selected:hover {
        background-color: #ebf2fe
    }

    .pac-matched {
        font-weight: 700
    }

    .pac-item-query {
        font-size: 13px;
        padding-right: 3px;
        color: #000
    }

    .pac-icon {
        width: 15px;
        height: 20px;
        margin-right: 7px;
        margin-top: 6px;
        display: inline-block;
        vertical-align: top;
        background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
        background-size: 34px
    }

    .hdpi .pac-icon {
        background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png)
    }

    .pac-icon-search {
        background-position: -1px -1px
    }

    .pac-item-selected .pac-icon-search {
        background-position: -18px -1px
    }

    .pac-icon-marker {
        background-position: -1px -161px
    }

    .pac-item-selected .pac-icon-marker {
        background-position: -18px -161px
    }

    .pac-placeholder {
        color: gray
    }

    .ui-autocomplete {
        z-index: 999999 !important;
    }

    /*.bootstrap-timepicker-widget.dropdown-menu.open {
        display: inline-block;
        z-index: 99999 !important;
    }
    .bootstrap-timepicker-widget.dropdown-menu.dropdown-up:before {
        border-top: 7px solid rgba(0, 0, 0, 0.2);
        border-bottom: none;
        top: 122px;
    }

    .bootstrap-timepicker-widget.dropdown-menu.dropdown-up:after {
        border-top: 6px solid #FFF;
        border-bottom: none;
        top: 121px;
    }*/

</style>
