﻿<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner container" style="display: contents;">
        <!-- BEGIN MEGA MENU -->
        <!-- DOC: Remove "hor-menu-light" class to have a horizontal menu with theme background instead of white background -->
        <!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) in the responsive menu below along with sidebar menu. So the horizontal menu has 2 seperate versions -->
        <div class="hor-menu  hor-menu-light hidden-sm hidden-xs">
            <ul class="nav navbar-nav">
                <!-- DOC: Remove data-hover="megamenu-dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
                <li class="classic-menu-dropdown" aria-haspopup="true" id="iPanel">
                    <a href="@Url.Action("Index", "Home")">
                        Panel de Gestión
                        <span class="selected"> </span>
                    </a>
                </li>
                <li class="classic-menu-dropdown" aria-haspopup="true" id="iParametrizacion">
                    <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                        Parametrización
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li id="iProvincia">
                            <a href="@Url.Action("ProvinciaView", "Provincia")">
                                Provincia
                            </a>
                        </li>
                        <li id="iLocalidad">
                            <a href="@Url.Action("LocalidadView", "Localidad")">
                                Localidad
                            </a>
                        </li>
                        <li id="iCliente">
                            <a href="@Url.Action("ClienteView", "Cliente")">
                                Cliente
                            </a>
                        </li>
                        <li class="dropdown-submenu" aria-haspopup="true" id="iEstado">
                            <a href="javascript:;">Estados</a>
                            <ul class="dropdown-menu">
                                <li id="iPedido">
                                    <a href="@Url.Action("EstadoPedidoView", "EstadoPedido")">
                                        Pedido
                                    </a>
                                </li>
                                <li id="iStock">
                                    <a href="@Url.Action("EstadoStockView", "EstadoStock")">
                                        Stock
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="iCodigoPostalSLA">
                            <a href="@Url.Action("CodigoPostalSLAView", "CodigoPostalSLA")">
                                SLA
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="classic-menu-dropdown" aria-haspopup="true" id="iProductos">
                    <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                        Productos
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li id="iProducto">
                            <a href="@Url.Action("ProductoView", "Producto")">
                                Producto
                            </a>
                        </li>
                        <li id="iMarca">
                            <a href="@Url.Action("MarcaView", "Producto")">
                                Marca
                            </a>
                        </li>
                        <li id="iModelo">
                            <a href="@Url.Action("ModeloView", "Producto")">
                                Modelo
                            </a>
                        </li>
                        <li id="iConfiguracion">
                            <a href="@Url.Action("ConfiguracionView", "Producto")">
                                Configuración
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="classic-menu-dropdown" aria-haspopup="true" id="iProveedores">
                    <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                        Proveedores
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li id="iCruzDelSur">
                            <a href="@Url.Action("ProveedorView", "Transporte")">
                                Cruz del Sur
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>

@{
    @if (ViewData["NodoMenu"] != null)
    {
        @foreach (var item in ViewData["NodoMenu"] as List<NodoMenu>)
        {   
            <script type="text/javascript">
                document.getElementById("@item.id.ToString()").classList.add("@item.clase.ToString()");
            </script>
        }
    }
}