﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DetallePedido";
}

@section scripts {
    <script src="@Url.Content("~/assets/scripts/Pedido/DetallePedidoJS.js?v" + @DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>
}

@{
    var cpCS = (CostoProveedorCS)ViewData["CostoProveedorCS"];
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-shopping-cart font-blue-ebonyclay"></i>
                    <span class="caption-subject bold font-blue-ebonyclay uppercase"> Detalle Pedido </span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mt-element-step">
                            <div class="row step-line">
                                <div class="col-md-4 mt-step-col first done">
                                    <div class="mt-step-number bg-white">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <div class="mt-step-title uppercase font-grey-cascade">Gestionar Pedido</div>
                                    <div class="mt-step-content font-grey-cascade">Desde el Panel de Gestión.</div>
                                </div>
                                <div class="col-md-4 mt-step-col active">
                                    <div class="mt-step-number bg-white">
                                        <i class="fa fa-truck"></i>
                                    </div>
                                    <div class="mt-step-title uppercase font-grey-cascade">Calcular Envío</div>
                                    <div class="mt-step-content font-grey-cascade">Calcular el costo del envío del transporte.</div>
                                </div>
                                <div class="col-md-4 mt-step-col last">
                                    <div class="mt-step-number bg-white">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </div>
                                    <div class="mt-step-title uppercase font-grey-cascade">Asignar Stock</div>
                                    <div class="mt-step-content font-grey-cascade">Desde el Detalle del Pedido.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form id="formPedido" role="form">
                            <input type="text" hidden id="txtIdPedido" value="@ViewData["IdPedido"]">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="form_control">Fecha Ingreso</label>
                                                <div class='input-group date' id='ffIngreso'>
                                                    <input type='text' class="form-control" value="@ViewData["FFIngreso"]" name="FFIngreso" id="dpFFIngreso" title="Seleccione previamente una sucursal y un transporte." disabled />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="form_control">Hora Ingreso</label>
                                                <div class='input-group date' id='ffIngreso'>
                                                    <input type='text' class="form-control" value="@ViewData["HHIngreso"]" name="HHIngreso" id="dpHHIngreso" title="Seleccione previamente una sucursal y un transporte." disabled />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="form_control">Nro. TSW</label>
                                                <input class="form-control" name="NroPedido" id="txtNroPedido" value="@ViewData["NroPedido"]" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="form_control">Cliente</label>
                                                <input class="form-control" name="Cliente" id="txtCliente" value="@ViewData["Cliente"]" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="cmbSucursal" class="control-label">Sucursal</label>
                                                <input class="form-control" name="Sucursal" id="txtSucursal" value="@ViewData["Sucursal"]" disabled />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="cmbContacto" class="control-label">Contacto Sucursal</label>
                                                <input class="form-control" name="Contacto" id="txtContacto" value="@ViewData["Contacto"]" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="form_control">Teléfono Contacto</label>
                                                <input class="form-control" name="TelefonoContacto" id="txtTelefonoContacto" value="@ViewData["TelefonoContacto"]" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="form_control">Nro. Ticket</label>
                                                <input class="form-control" name="NroTicket" id="txtNroTicket" value="@ViewData["NroTicket"]" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                                <label for="txtEsNuetral" class="control-label">Neutral</label>
                                                <input type='text' class="form-control" name="EsNeutral" value="@ViewData["EsNeutral"]" id="txtEsNuetral" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="cmbContacto" class="control-label">ID Equipo</label>
                                                <input class="form-control" name="IdEquipo" id="txtIdEquipo" value="@ViewData["IdEquipo"]" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="form_control">Comentarios</label>
                                                <textarea class="form-control" name="Comentarios" id="txtComentarios" rows="3" disabled>@ViewData["Comentarios"]</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        @*<div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="cmbProveedorTransporte" class="control-label">Transporte</label>
                                                    <input class="form-control" name="ProveedorTransporte" id="txtProveedorTransporte" value="@ViewData["ProveedorTransporte"]" disabled />
                                                </div>
                                            </div>*@

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="form_control">Fecha SLA</label>
                                                <div class='input-group date' id='ffSLA'>
                                                    <input type='text' class="form-control" name="FFSLA" value="@ViewData["FFSLA"]" id="dpFFSLA" disabled />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            @*<div class="form-group">
                                                <label for="form_control">Estado</label>
                                                <input class="form-control" name="Estado" id="Estado" value="@ViewData["Estado"]" disabled />
                                            </div>*@
                                            <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                                <label for="cmbEstado" class="control-label">Estado</label>
                                                <select id="cmbEstado" name="Estado" class="form-control">
                                                    <option value="0" disabled>Seleccionar</option>
                                                    @foreach (var c in ViewData["estados"] as List<EstadoPedido>)
                                                    {
                                                        <option value="@c.id_estado_pedido" selected="@c.id_estado_pedido.Equals((int)@ViewData["Estado"])" >@c.descripcion</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="form_control">Observaciones Estado</label>
                                                <textarea class="form-control" name="ObservacioneEstado" id="txtObservacioneEstado" rows="2" disabled>@ViewData["ObservacioneEstado"]</textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                                <label for="cmbEnvioDiferido" class="control-label">Envío Diferido</label>
                                                <input type='text' class="form-control" name="FFCumplimiento" value="@ViewData["EnvioDiferido"]" id="dpFFCumplimiento" disabled />
                                            </div>
                                        </div>
                                        @{if (@ViewData["FFEnvioDiferido"] != "")
                                            {
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="form_control">Fecha Envío Diferido</label>
                                                        <div class='input-group date' id='ffEnvioDiferido'>
                                                            <input type='text' class="form-control" id='dpFFEnvioDiferido' value="@ViewData["FFEnvioDiferido"]" name="FFEnvioDiferido" disabled />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <div class="form-group">
                                            <button type="button" style="margin-right: 15px;" id="btnNuevoProducto" onclick="addColToRowProductos();" class="btn blue-ebonyclay"><i class="fa fa-plus"></i> Agregar Producto</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="RowProductos">
                                    <div class="col-md-12" id="Header">
                                        <div class="col-sm-4">
                                            <div class="form-group" style="margin-bottom: 0px;">
                                                <label for="cmbProducto" class="control-label">Producto</label>
                                            </div>
                                        </div>
                                        @*<div class="col-sm-2" style="width: 16.66667%">
                                                <div class="form-group" style="margin-bottom: 0px;">
                                                    <label for="cmbMarca" class="control-label">Marca</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2" style="width: 16.66667%">
                                                <div class="form-group" style="margin-bottom: 0px;">
                                                    <label for="cmbModelo" class="control-label">Modelo</label>
                                                </div>
                                            </div>*@
                                        <div class="col-sm-3">
                                            <div class="form-group" style="margin-bottom: 0px;">
                                                <label for="cmbConfiguracion" class="control-label">Configuración</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group" style="margin-bottom: 0px;">
                                                <label for="cmbCantidad" class="control-label">Cantidad</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group" style="margin-bottom: 0px;">
                                                <label for="cmbCantidad" class="control-label">Retorno</label>
                                            </div>
                                        </div>
                                        @*<div class="col-sm-1">
                                                <div class="form-group" style="margin-bottom: 0px;">
                                                    <label for="cmbCantidad" class="control-label">Purga</label>
                                                </div>
                                            </div>*@
                                    </div>
                                    @{int i = 1;}
                                    @foreach (var p in ViewBag.Productos)
                                    {
                                        <div class="col-md-12" id="Producto@(Convert.ToString(i))">
                                            <input name="IdPedidoProducto" id="txtIdPedidoProducto" hidden value="@p.IdPedidoProducto" />
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <input class="form-control" name="Producto" id="txtProducto" value="@p.Producto" disabled />
                                                </div>
                                            </div>
                                            @*<div class="col-sm-2" style="width: 16.66667%;">
                                                    <div class="form-group">
                                                        <input class="form-control" name="Marca" id="txtMarca" value="@p.Marca" disabled />
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="width: 16.66667%;">
                                                    <div class="form-group">
                                                        <input class="form-control" name="Modelo" id="txtModelo" value="@p.Modelo" disabled />
                                                    </div>
                                                </div>*@
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <input class="form-control" name="Configuracion" id="txtConfiguracion" value="@p.Configuracion" disabled />
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <input class="form-control" name="Cantidad" id="txtCantidad" value="@p.Cantidad" disabled />
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <input class="form-control" name="Cantidad" id="txtCantidad" value="@p.CantidadRetorno" disabled />
                                                </div>
                                            </div>
                                            @*<div class="col-sm-1">
                                                    <div class="form-group">
                                                        <input class="form-control" name="Cantidad" id="txtCantidad" value="@p.CantidadPurga" disabled />
                                                    </div>
                                                </div>*@
                                            <div class="col-sm-1 text-right">
                                                <div class="form-group">
                                                    <a class="btn red" id="deleteRow@(Convert.ToString(i))" onclick="removeColToRowProductos(@(Convert.ToString(i)))"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        { i++; }
                                    }
                                </div>
                                <hr />
                                <div class="pricing-content-1">
                                    <div class="row" id="divCalculoCS">
                                        <div class="col-md-3">
                                            <div class="price-column-container border-active">
                                                <div class="price-table-head bg-blue">
                                                    <h2 class="no-margin">Cruz del Sur</h2>
                                                </div>
                                                <div class="arrow-down border-top-blue"></div>
                                                <div class="price-table-pricing">
                                                    <h3>
                                                        <sup class="price-sign">$</sup> <text id="txtMontoTotal">@cpCS.MontoTotal<text>
                                                    </h3>
                                                    <p>costo de envío</p>
                                                </div>
                                                <div class="price-table-content">
                                                    <div class="row mobile-padding">
                                                        <div class="col-xs-8 text-right mobile-padding">
                                                            Peso Volumétrico:
                                                        </div>
                                                        <div class="col-xs-4 text-left mobile-padding"><b><text id="txtPesoVolumetricoTotal">@cpCS.PesoVolumetricoTotal<text> kg</b></div>
                                                    </div>
                                                    <div class="row mobile-padding">
                                                        <div class="col-xs-8 text-right mobile-padding">
                                                            Peso Real:
                                                        </div>
                                                        <div class="col-xs-4 text-left mobile-padding"><b><text id="txtPesoRealTotal">@cpCS.PesoRealTotal<text> kg</b></div>
                                                    </div>
                                                    <div class="row mobile-padding">
                                                        <div class="col-xs-8 text-right mobile-padding">
                                                            Cálculo Radial:
                                                        </div>
                                                        <div class="col-xs-4 text-left mobile-padding"><b>$ <text id="txtCalculoRadial">@cpCS.CalculoRadial<text></b></div>
                                                    </div>
                                                    <div class="row mobile-padding">
                                                        <div class="col-xs-8 text-right mobile-padding">
                                                            Valor Declarado:
                                                        </div>
                                                        <div class="col-xs-4 text-left mobile-padding"><b>$ <text id="txtMontoPorValorDeclaradoTotal">@cpCS.MontoPorValorDeclaradoTotal<text></b></div>
                                                    </div>
                                                    <div class="row mobile-padding">
                                                        <div class="col-xs-8 text-right mobile-padding">
                                                            Valor por Remito:
                                                        </div>
                                                        <div class="col-xs-4 text-left mobile-padding"><b>$ <text id="txtValorPorRemito">@cpCS.ValorPorRemito<text></b></div>
                                                    </div>
                                                </div>
                                                <div class="arrow-down arrow-grey"></div>
                                                <div class="price-table-footer">
                                                    <button type="button" class="btn grey-salsa btn-outline sbold uppercase price-button">Seleccionar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="form-actions right">
                    <button type="button" @*onclick="clearModalPedido();"*@ onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" class="btn grey-salsa">Ir al Panel de Gestión</button>
                    <button type="button" onclick="GuardarPedido();" class="btn green-jungle">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalAvisoProductos" tabindex="-1" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>ATENCIÓN</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="formPedido" role="form">
                            <div class="form-body">
                                <div class="row" style="display: flex;align-items: center;">
                                    <div class="col-md-2" style="margin-top: 25px;">
                                        <i class="fa fa-exclamation-circle fa-5x font-yellow-crusta"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <h4 style="text-align: left;">
                                            Se ha seleccionado el producto: <strong id="productoSel"></strong>,
                                            con la configuración: <strong id="configuracionSel"></strong>
                                        </h4>
                                        <br>
                                        <h4 style="text-align: left;">
                                            Recuerde que el producto se <strong>eliminará del pedido</strong>. ¿Desea continuar con la operación?
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="$('#modalAvisoProductos').modal('hide');" class="btn grey-salsa">Cancelar</button>
                <button type="button" onclick="eliminarProducto();" class="btn green">Continuar</button>
            </div>
        </div>
    </div>
</div>
