﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NuevoPedido";
}

@section scripts {
    <script src="@Url.Content("~/assets/scripts/Pedido/PedidoJS.js?v" + @DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-shopping-cart font-blue-ebonyclay"></i>
                    <span class="caption-subject bold font-blue-ebonyclay uppercase"> Nuevo Pedido </span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mt-element-step">
                            <div class="row step-line">
                                <div class="col-md-4 mt-step-col first active">
                                    <div class="mt-step-number bg-white">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <div class="mt-step-title uppercase font-grey-cascade">Gestionar Pedido</div>
                                    <div class="mt-step-content font-grey-cascade">Desde el Panel de Gestión.</div>
                                </div>
                                <div class="col-md-4 mt-step-col">
                                    <div class="mt-step-number bg-white">
                                        <i class="fa fa-truck"></i>
                                    </div>
                                    <div class="mt-step-title uppercase font-grey-cascade">Calcular Envío</div>
                                    <div class="mt-step-content font-grey-cascade">Calcular el costo del envío del transporte.</div>
                                </div>
                                <div class="col-md-4 mt-step-col last">
                                    <div class="mt-step-number bg-white">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </div>
                                    <div class="mt-step-title uppercase font-grey-cascade">Asignar Stock</div>
                                    <div class="mt-step-content font-grey-cascade">Desde el Detalle del Pedido.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <form id="formPedido" role="form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="form_control">Fecha Ingreso</label>
                                                <div class='input-group date' id='ffIngreso'>
                                                    <input type='text' class="form-control" name="FFIngreso" id="dpFFIngreso" title="Seleccione previamente una sucursal y un transporte." />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="form_control">Hora Ingreso</label>
                                            <div class="input-group bootstrap-timepicker timepicker">
                                                <input type="text" id="txtHoraIngreso" name="HoraIngreso" value="" class="form-control">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="form_control">Nro. TSW</label>
                                                <input class="form-control" name="NroPedido" id="txtNroPedido" />
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                                <label for="cmbCliente" class="control-label">Cliente</label>
                                                <select id="cmbCliente" name="IdCliente" class="form-control select2">
                                                    <option value="0" disabled selected>Seleccionar</option>
                                                    @foreach (var c in ViewData["clientes"] as List<Cliente>)
                                                    {
                                                        <option value="@c.id_cliente">@c.descripcion</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="cmbSucursal" class="control-label">Sucursal</label>
                                                <div class="input-group">
                                                    <input type="text" disabled id="cmbSucursal" name="IdSucursal" placeholder="Seleccione una Sucursal" class="form-control select2" />
                                                    <span class="input-group-btn">
                                                        <button class="btn blue-ebonyclay" type="button" id="btnVerDatos" onclick="editarSucursal();">Ver Datos</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="cmbContacto" class="control-label">Contacto Sucursal</label>
                                                <select id="cmbContacto" name="IdContacto" class="form-control select2" data-placeholder="Seleccione"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="form_control">Teléfono Contacto</label>
                                                <input class="form-control" name="TelefonoContacto" id="txtTelefonoContacto" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="form_control">Nro. Ticket</label>
                                                <input class="form-control" name="NroTicket" id="txtNroTicket" />
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                                <label for="cmbNeutral" class="control-label">Neutral</label>
                                                <select id="cmbNeutral" name="EnvioDiferido" class="form-control">
                                                    <option value="0" selected>No</option>
                                                    <option value="1">Si</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="form_control">ID Equipo</label>
                                                <input class="form-control" name="IdEquipo" id="txtIdEquipo" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="form_control">Comentarios</label>
                                                <textarea class="form-control" name="Comentarios" id="txtComentarios" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--<div class="col-md-4">
        <div class="form-group">
            <label for="cmbProveedorTransporte" class="control-label">Transporte</label>
            <select id="cmbProveedorTransporte" name="IdProveedorTransporte" class="form-control select2" data-placeholder="Seleccione" title="Seleccione previamente una sucursal."></select>
        </div>
    </div>-->
                                        <div class="col-md-2">
                                            <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                                <label for="cmbSLA" class="control-label">SLA</label>
                                                <select id="cmbSLA" name="cantidadDias" class="form-control">
                                                    <option value="0" selected>No Aplica</option>
                                                    <option value="1">1 día</option>
                                                    <option value="2">2 dias</option>
                                                    <option value="3">3 dias</option>
                                                    <option value="4">4 dias</option>
                                                    <option value="5">5 dias</option>
                                                    <option value="6">6 dias</option>
                                                    <option value="7">7 dias</option>
                                                    <option value="8">8 dias</option>
                                                    <option value="9">9 dias</option>
                                                    <option value="10">10 dias</option>
                                                    <option value="11">11 dias</option>
                                                    <option value="12">12 dias</option>
                                                    <option value="13">13 dias</option>
                                                    <option value="14">14 dias</option>
                                                    <option value="15">15 dias</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="form_control">Fecha SLA</label>
                                                <div class='input-group date' id='ffSLA'>
                                                    <input type='text' class="form-control" name="FFSLA" id="dpFFSLA" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                                <label for="cmbEstado" class="control-label">Estado</label>
                                                <select id="cmbEstado" name="Estado" class="form-control">
                                                    <option value="0" disabled selected>Seleccionar</option>
                                                    @foreach (var c in ViewData["estados"] as List<EstadoPedido>)
                                                    {
                                                        <option value="@c.id_estado_pedido">@c.descripcion</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="form_control">Observaciones Estado</label>
                                                <textarea class="form-control" name="ObservacionesEstado" id="txtObservacionesEstado" rows="2"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                                <label for="cmbEnvioDiferido" class="control-label">Diferido</label>
                                                <select id="cmbEnvioDiferido" name="EnvioDiferido" class="form-control">
                                                    <option value="0" selected>No</option>
                                                    <option value="1">Si</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2" id="divFFEnvioDiferido" hidden>
                                            <div class="form-group">
                                                <label for="form_control">Fecha Envío Diferido</label>
                                                <div class='input-group date' id='ffEnvioDiferido'>
                                                    <input type='text' class="form-control" id='dpFFEnvioDiferido' name="FFEnvioDiferido" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <div class="form-group">
                                            <button type="button" style="margin-right: 15px;" id="btnNuevoProducto" onclick="addColToRowProductos();" class="btn blue-ebonyclay"><i class="fa fa-plus"></i> Agregar Producto</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="RowProductos">
                                    <div class="col-md-12" id="Header">
                                        <div class="col-sm-4">
                                            <div class="form-group" style="margin-bottom: 0px;">
                                                <label for="cmbProducto" class="control-label">Producto</label>
                                            </div>
                                        </div>
                                        @*<div class="col-sm-2" style="width: 16.66667%;">
                                            <div class="form-group" style="margin-bottom: 0px;">
                                                <label for="cmbMarca" class="control-label">Marca</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2" style="width: 16.66667%;">
                                            <div class="form-group" style="margin-bottom: 0px;">
                                                <label for="cmbModelo" class="control-label">Modelo</label>
                                            </div>
                                        </div>*@
                                        <div class="col-sm-3">
                                            <div class="form-group" style="margin-bottom: 0px;">
                                                <label for="cmbConfiguracion" class="control-label">Configuración</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group" style="margin-bottom: 0px;">
                                                <label for="cmbCantidad" class="control-label">Cantidad</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group" style="margin-bottom: 0px;">
                                                <label for="cmbCantidad" class="control-label">Retorno</label>
                                            </div>
                                        </div>
                                        @*<div class="col-sm-1">
                                            <div class="form-group" style="margin-bottom: 0px;">
                                                <label for="cmbCantidad" class="control-label">Purga</label>
                                            </div>
                                        </div>*@
                                    </div>
                                    <div class="col-md-12" id="Producto1">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <select id="cmbProducto1" onchange="setConfiguracion(1)" name="IdProducto" class="form-control select2" data-placeholder="Seleccione"></select>
                                            </div>
                                        </div>
                                        @*<div class="col-sm-2" style="width: 16.66667%;">
                                            <div class="form-group">
                                                <select id="cmbMarca1" name="IdMarca" class="form-control select2" data-placeholder="Seleccione"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2" style="width: 16.66667%;">
                                            <div class="form-group">
                                                <select id="cmbModelo1" name="IdModelo" class="form-control select2" data-placeholder="Seleccione"></select>
                                            </div>
                                        </div>*@
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <select id="cmbConfiguracion1" name="IdConfiguracion" class="form-control select2" data-placeholder="Seleccione"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <input class="form-control" name="Cantidad" id="txtCantidad1" />
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <input class="form-control" name="CantidadRetorno" id="txtCantidadRetorno1" />
                                            </div>
                                        </div>
                                        @*<div class="col-sm-1">
                                            <div class="form-group">
                                                <input class="form-control" name="CantidadPurga" id="txtCantidadPurga1" />
                                            </div>
                                        </div>*@
                                        <div class="col-sm-1 text-right">
                                            <div class="form-group">
                                                <a class="btn red" id="deleteRow1" onclick="removeColToRowProductos(1);"><i class="fa fa-trash-o"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right">
                                <button type="button" @*onclick="clearModalPedido();"*@ onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" class="btn grey-salsa">Ir al Panel de Gestión</button>
                                <!--<button type="button" onclick="" class="btn btn-lg green">Guardar</button>-->
                                <button type="button" onclick="enviarFormPedido();" class="btn green-jungle">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Pedido Exitoso-->
<div class="modal fade" id="modalRegistroPedidoExitoso" tabindex="-1" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>*@
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>AVISO</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="formPedido" role="form">
                            <div class="form-body">
                                <div class="row" style="display: flex;align-items: center;">
                                    <div class="col-md-1">
                                        <i class="fa fa-check-circle fa-5x font-green-jungle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <h4 style="text-align: center;">Se ha registrado <strong>exitosamente</strong> el pedido número:</h4>
                                        <h1 style="text-align: center;"><strong id="strongNroPedido"></strong></h1>
                                        <h4 style="text-align: center;">Su fecha de <strong>SLA</strong> es el día:</h4>
                                        <h1 style="text-align: center;"><strong id="strongFFSLA"></strong></h1>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" class="btn grey-salsa">Ir al Panel de Gestión</button>
                <button type="button" onclick="@("window.location.href='" + @Url.Action("NuevoPedidoView", "Pedido") + "'");" class="btn green-jungle">Nuevo Pedido</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Pedido No Correlativo-->
<div class="modal fade" id="modalPedidoNoCorrelativo" tabindex="-1" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>*@
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>AVISO</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="formPedido" role="form">
                            <div class="form-body">
                                <div class="row" style="display: flex;align-items: center;">
                                    <div class="col-md-1" style="width: 11.33333%; margin-top:20px;">
                                        <i class="fa fa-exclamation-circle fa-5x font-yellow-crusta"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <h4 style="text-align: center;">El Nro. TSW no es <strong>correlativo</strong> con el último pedido del cliente para esa sucursal.</h4>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="$('#modalPedidoNoCorrelativo').modal('hide');" class="btn grey-salsa">Cancelar</button>
                <button type="button" onclick="enviarFormPedido(true);" class="btn btn-default green-jungle">Continuar</button>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("/Views/Cliente/iPartialModalSucursal.cshtml")