﻿<div class="row" id="htmlContainer">
    <div class="col-md-12" id="Header">
        <div class="col-sm-2" style="width: 16.66667%;">
            <div class="form-group" style="margin-bottom: 0px;">
                <label for="cmbProducto" class="control-label">Producto</label>
            </div>
        </div>
        <div class="col-sm-2" style="width: 16.66667%">
            <div class="form-group" style="margin-bottom: 0px;">
                <label for="cmbMarca" class="control-label">Marca</label>
            </div>
        </div>
        <div class="col-sm-2" style="width: 16.66667%">
            <div class="form-group" style="margin-bottom: 0px;">
                <label for="cmbModelo" class="control-label">Modelo</label>
            </div>
        </div>
        <div class="col-sm-2" style="width: 16.66667%">
            <div class="form-group" style="margin-bottom: 0px;">
                <label for="cmbConfiguracion" class="control-label">Configuración</label>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group" style="margin-bottom: 0px;">
                <label for="cmbCantidad" class="control-label">Cantidad</label>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group" style="margin-bottom: 0px;">
                <label for="cmbCantidad" class="control-label">Retorno</label>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group" style="margin-bottom: 0px;">
                <label for="cmbCantidad" class="control-label">Purga</label>
            </div>
        </div>
    </div>
    @{int i = 1;}
    @foreach (var p in ViewBag.Productos)
    {
        <div class="col-md-12" id="Producto@(Convert.ToString(i))">
            <input name="IdPedidoProducto  " id="txtIdPedidoProducto" hidden value="@p.IdPedidoProducto" />
            <div class="col-sm-2" style="width: 16.66667%;">
                <div class="form-group">
                    <input class="form-control" name="Producto" id="txtProducto" value="@p.Producto" disabled />
                </div>
            </div>
            <div class="col-sm-2" style="width: 16.66667%;">
                <div class="form-group">
                    <input class="form-control" name="Marca" id="txtMarca" value="@p.Marca" disabled />
                </div>
            </div>
            <div class="col-sm-2" style="width: 16.66667%;">
                <div class="form-group">
                    <input class="form-control" name="Modelo" id="txtModelo" value="@p.Modelo" disabled />
                </div>
            </div>
            <div class="col-sm-2" style="width: 16.66667%;">
                <div class="form-group">
                    <input class="form-control" name="Configuracion" id="txtConfiguracion" value="@p.Configuracion" disabled />
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <input class="form-control" name="Cantidad" id="txtCantidad" value="@p.Cantidad" disabled />
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <input class="form-control" name="Cantidad" id="txtCantidad" value="@p.CantidadRetorno" disabled />
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <input class="form-control" name="Cantidad" id="txtCantidad" value="@p.CantidadPurga" disabled />
                </div>
            </div>
            <div class="col-sm-1 text-right">
                <div class="form-group">
                    <a class="btn red" id="deleteRow@(Convert.ToString(i))" onclick="removeColToRowProductos(@(Convert.ToString(i)))"><i class="fa fa-trash-o"></i></a>
                </div>
            </div>
        </div>
        { i++; }
    }
</div>