﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SLA";
}
@section Scripts{
    <script src="@Url.Content("~/assets/scripts/CodigoPostalSLA/CodigoPostalSLAJS.js?v" + @DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>
}

<input type="hidden" id="selectedCodigoPostalSLA" name="codigo_postal_sla" value="" />
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-user font-blue-ebonyclay"></i>
                    <span class="caption-subject bold font-blue-ebonyclay uppercase"> SLA </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-8" id="panelTablaSLA">
                        <!-- BEGIN TABLE PORTLET-->
                        <div class="table table-borderless">
                            <table class="table table-bordered table-striped table-condensed table-light" id="tabla">
                                <thead>
                                    <tr>
                                        <th>
                                            Código Postal
                                        </th>
                                        <th>
                                            SLA
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>


                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                    <div class="col-md-4">
                        <!-- BEGIN ABM PORTLET-->
                        <div class="portlet light" id="panelDatosCodigoPostalSLA">
                            <div class="portlet-title">
                                <div class="caption font-blue-ebonyclay">
                                    <i class="icon-pin font-blue-ebonyclay"></i>
                                    <span class="caption-subject bold uppercase"> GESTIONAR </span>
                                    <span class="caption-helper">
                                        <strong id="tit"></strong>
                                    </span>
                                </div>
                                <div class="actions">
                                    <div class="btn-group">
                                        <a id="nuevoEstadoPedido" class="btn blue-ebonyclay btn-sm" href="javascript:;" onclick="clearForm(true);">
                                            <i class="fa fa-plus"></i> Nuevo SLA
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <form id="form" role="form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="alert alert-danger display-hide">
                                                    <button class="close" data-close="alert"></button>
                                                    <span id="errorPedido"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Código Postal</label>
                                                    <input class="form-control" name="CodigoPostal" id="txtCodigoPostalSLA" maxlength="20" />
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">SLA</label>
                                                    <input class="form-control" name="SLA" id="txtSLA" maxlength="20" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions noborder" align="center">
                                        <button type="button" onclick="enviarForm();" class="btn green-jungle">Guardar</button>
                                        <button type="button" onclick="clearForm(false);" class="btn grey-salsa">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END ABM PORTLET-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bootbox modal fade in" id="modalConfirmacion" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>CONFIRMACIÓN</strong></h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">¿Estás seguro que deseas <strong>borrar</strong> el SLA?</div>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="success" type="button" id="confirmacionAceptar" class="btn green-jungle">Aceptar</button>
                <button data-bb-handler="danger" type="button" id="confirmacionCancelar" class="btn red">Cancelar</button>
            </div>
        </div>
    </div>
</div>