﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Panel de Gestión";
}
@section scripts {
    <script src="@Url.Content("~/assets/scripts/Home/IndexJS.js?v" + @DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/scripts/Pedido/PedidoJS.js?v" + @DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>
}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light" id="panelTablaPedidos">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-desktop font-blue-ebonyclay"></i>
                    <span class="caption-subject bold font-blue-ebonyclay uppercase"> Panel de Gestión </span>
                </div>
                <div class="inputs text-left" style=" width: 40%;">
                    <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                        <button type="button" id="btnNuevo" @*onclick="initializeModalPedido();"*@ onclick="@("window.location.href='" + @Url.Action("NuevoPedidoView", "Pedido") + "'");" class="btn blue-ebonyclay pull-right"><i class="fa fa-plus"></i> Nuevo Pedido</button>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box blue-ebonyclay">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-filter"></i>Filtros
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" id="aFiltros" class="collapse" data-original-title="" title=""> </a>
                                </div>
                            </div>
                            <div class="portlet-body display-hide" id="divFiltros" style="display: block;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="form_control">Nro. TSW</label>
                                                <input class="form-control" name="NroPedido" id="txtNroPedido" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="form_control">Nro. Ticket</label>
                                                <input class="form-control" name="NroTicket" id="txtNroTicket" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                                <label for="cmbCliente" class="control-label">Cliente</label>
                                                <select id="cmbCliente" name="IdCliente" class="form-control select2">
                                                    <option value="0" selected>Todos los clientes</option>
                                                    @foreach (var c in ViewData["clientes"] as List<Cliente>)
                                                    {
                                                        <option value="@c.id_cliente">@c.descripcion</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                                <label for="cmbEstado" class="control-label">Estado</label>
                                                <select id="cmbEstado" name="Estado" class="form-control">
                                                    <option value="0" selected>Todos los estados</option>
                                                    @foreach (var c in ViewData["estados"] as List<EstadoPedido>)
                                                    {
                                                        <option value="@c.id_estado_pedido">@c.descripcion</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-sm-3">
                                            <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                                <label for="cmbTipoFecha" class="control-label">Tipo de Fecha</label>
                                                <select id="cmbTipoFecha" name="Estado" class="form-control">
                                                    <option value="0" disabled selected>Seleccionar</option>
                                                    <option value="1">Ingreso</option>
                                                    <option value="2">Entrega</option>
                                                    <option value="3">SLA</option>
                                                    <option value="4">Cumplimiento</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="form_control">Fecha Desde</label>
                                                <div class='input-group date' id='ffDesde'>
                                                    <input type='text' class="form-control" name="FFDesde" id="dpFFDesde" title="Seleccione una fecha desde." />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="form_control">Fecha Hasta</label>
                                                <div class='input-group date' id='ffHasta'>
                                                    <input type='text' class="form-control" name="FFHasta" id="dpFFHasta" title="Seleccione una fecha hasta." />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-right" style="margin-top: 5px;">
                                            <label for="form_control"></label>
                                            <div class="form-group">
                                                <a class="btn grey-salsa" onclick="Limpiar();">Limpiar </a>
                                                <a class="btn green-jungle" onclick="Filtrar();">Buscar </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a class="dashboard-stat red-thunderbird" onclick="LoadPedidos('I');">
                            <div class="visual">

                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="" id="txtInicial">0</span>
                                </div>
                                <div class="desc"> Pedidos Nuevos </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a class="dashboard-stat yellow-lemon" onclick="LoadPedidos('C');">
                            <div class="visual">

                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="0" id="txtEnCurso">0</span>
                                </div>
                                <div class="desc"> Pedidos En Curso </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a class="dashboard-stat green-jungle" onclick="LoadPedidos('F');">
                            <div class="visual">

                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="0" id="txtFinal">0</span>
                                </div>
                                <div class="desc"> Pedidos Finalizados </div>
                            </div>
                        </a>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box blue-ebonyclay">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-hourglass-2"></i>Resultado
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" id="aResultado" class="expand resultado" data-original-title="" title=""> </a>
                                </div>
                            </div>
                            <div class="portlet-body display-hide" id="divResultados" style="display: none;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet light">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-speech"></i>
                                                    <span class="caption-subject bold font-blue-ebonyclay uppercase"> Pedidos</span>
                                                    <!--<span class="caption-helper" id="estadoDesc">Nuevos</span>-->
                                                </div>
                                                <div class="actions">

                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table table-borderless">
                                                    <table class="table table-bordered table-striped table-condensed table-light" id="tablaPedidos">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Nro. TSW
                                                                </th>
                                                                <th>
                                                                    Nro. Ticket
                                                                </th>
                                                                <th>
                                                                    Ingreso
                                                                </th>
                                                                <th>
                                                                    SLA
                                                                </th>
                                                                <th>
                                                                    Entrega
                                                                </th>
                                                                <th>
                                                                    Cumplimiento
                                                                </th>
                                                                <th>
                                                                    Sucursal
                                                                </th>
                                                                <th>
                                                                    Estado
                                                                </th>
                                                                <th>

                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bootbox modal fade in" id="modalConfirmacion" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>CONFIRMACIÓN</strong></h4>
            </div>
            <div class="portlet-body form">
                <form id="form" role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-warning alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                    <strong>Atención!</strong> Estas a punto de cambiar el estado del pedido.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cmbEstado" class="control-label">Estado</label>
                                    <select id="cmbEstado" name="Estado" class="form-control" disabled>
                                        <option value="0" selected>Retornado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Comentarios</label>
                                    <textarea class="form-control" name="Comentarios" id="txtComentarios" rows="2" maxlength="300"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="success" type="button" id="confirmacionAceptar" class="btn green-jungle">Aceptar</button>
                <button data-bb-handler="danger" type="button" id="confirmacionCancelar" class="btn red">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("/Views/Home/iPedido.cshtml")