﻿<!--Modal Nuevo Pedido-->
<div class="modal fade" id="modalNuevoPedido" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>NUEVO PEDIDO</strong></h4>
            </div>
            <div class="modal-body" id="PanelNuevoPedido">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mt-element-step">
                            <div class="row step-line">
                                <div class="col-md-4 mt-step-col first active">
                                    <div class="mt-step-number bg-white">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <div class="mt-step-title uppercase font-grey-cascade">Gestionar Pedido</div>
                                    <div class="mt-step-content font-grey-cascade">Desde el Panel de Gestión.</div>
                                </div>
                                <div class="col-md-4 mt-step-col">
                                    <div class="mt-step-number bg-white">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </div>
                                    <div class="mt-step-title uppercase font-grey-cascade">Asignar Stock</div>
                                    <div class="mt-step-content font-grey-cascade">Desde el Detalle del Pedido.</div>
                                </div>
                                <div class="col-md-4 mt-step-col last">
                                    <div class="mt-step-number bg-white">
                                        <i class="fa fa-truck"></i>
                                    </div>
                                    <div class="mt-step-title uppercase font-grey-cascade">Asignar Transporte</div>
                                    <div class="mt-step-content font-grey-cascade">Desde el Detalle del Pedido una vez impreso la factura.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form id="formPedido" role="form">
                            <div class="form-body">
                                <div class="panel-group accordion" id="accordion1">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1" style="background-color: #364150;text-decoration: none;color: inherit;color: white;"> <strong>INFORMACIÓN DEL CLIENTE</strong> </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_1" class="panel-collapse in">
                                            <br />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label for="form_control">Nro. Pedido</label>
                                                            <input class="form-control" name="NroPedido" id="txtNroPedido" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        @*<div class="form-group">
                                                            <label for="cmbSucursal" class="control-label">Sucursal</label>
                                                            <select id="cmbSucursal" name="IdSucursal" class="form-control select2" data-placeholder="Seleccione"></select>
                                                        </div>*@
                                                        <div class="form-group">
                                                            <label for="cmbSucursal" class="control-label">Sucursal</label>
                                                            <!--<select id="cmbSucursal" name="IdSucursal" class="form-control select2" data-placeholder="Seleccione"></select>-->
                                                            <input type="text" id="cmbSucursal" name="IdSucursal" IdSucursal="2" placeholder="Seleccione una Sucursal" class="form-control select2" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="cmbContacto" class="control-label">Contacto Sucursal</label>
                                                            <select id="cmbContacto" name="IdContacto" class="form-control select2" data-placeholder="Seleccione"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="form_control">Nro. Ticket</label>
                                                            <input class="form-control" name="NroTicket" id="txtNroTicket" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="form-group">
                                                            <label for="form_control">Comentarios</label>
                                                            <textarea class="form-control" name="Comentarios" id="txtComentarios" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2" style="background-color: #364150;text-decoration: none;color: inherit;color: white;"> <strong>INFORMACIÓN DEL PRODUCTO</strong> </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_2" class="panel-collapse collapse">
                                            <br />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="cmbProducto" class="control-label">Producto</label>
                                                            <select id="cmbProducto" name="IdProducto" class="form-control select2" data-placeholder="Seleccione"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="cmbMarca" class="control-label">Marca</label>
                                                            <select id="cmbMarca" name="IdMarca" class="form-control select2" data-placeholder="Seleccione"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="cmbModelo" class="control-label">Modelo</label>
                                                            <select id="cmbModelo" name="IdModelo" class="form-control select2" data-placeholder="Seleccione"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="cmbConfiguracion" class="control-label">Configuración</label>
                                                            <select id="cmbConfiguracion" name="IdConfiguracion" class="form-control select2" data-placeholder="Seleccione"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label for="cmbConfiguracion" class="control-label">Cantidad</label>
                                                            <input class="form-control" name="Cantidad" id="txtCantidad" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3" style="background-color: #364150;text-decoration: none;color: inherit;color: white;"> <strong>INFORMACIÓN DEL TRANSPORTE</strong> </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="cmbProveedorTransporte" class="control-label">Transporte</label>
                                                                <select id="cmbProveedorTransporte" name="IdProveedorTransporte" class="form-control select2" data-placeholder="Seleccione" title="Seleccione previamente una sucursal."></select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label for="form_control">Fecha Ingreso</label>
                                                                <div class='input-group date' id='ffIngreso'>
                                                                    <input type='text' class="form-control" name="FFIngreso" id="dpFFIngreso" title="Seleccione previamente una sucursal y un transporte." />
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label for="form_control">Fecha Cumplimiento</label>
                                                                <div class='input-group date' id='ffCumplimiento'>
                                                                    <input type='text' class="form-control" name="FFCumplimiento" id="dpFFCumplimiento" />
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                                                <label for="cmbEnvioDiferido" class="control-label">Envío Diferido</label>
                                                                <select id="cmbEnvioDiferido" name="EnvioDiferido" class="form-control">
                                                                    <option value="0" selected>No</option>
                                                                    <option value="1">Si</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label for="form_control">Fecha Envío Diferido</label>
                                                                <div class='input-group date' id='ffEnvioDiferido'>
                                                                    <input type='text' class="form-control" id='dpFFEnvioDiferido' name="FFEnvioDiferido" />
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="enviarFormPedido();" class="btn green-jungle">Guardar</button>
                <button type="button" onclick="clearModalPedido();" class="btn grey-salsa">Cancelar</button>
            </div>
        </div>
    </div>
</div>










