﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EstadoPedido";
}



<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-danger"><strong>Error404</strong></h1>
                        <h2 class="text-danger">Ha ocurrido un error al cargar los datos.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
