﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EstadoPedido";
}
@section Scripts{
    <script src="@Url.Content("~/assets/scripts/Error/LogErrorJS.js?v" + @DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-user font-blue-ebonyclay"></i>
                    <span class="caption-subject bold font-blue-ebonyclay uppercase"> Log Error </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12" id="panelTablaLogError">
                        <!-- BEGIN TABLE PORTLET-->
                        <div class="table table-borderless">
                            <table class="table table-bordered table-striped table-condensed table-light" id="tabla">
                                <thead>
                                    <tr>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>
                                            Nivel
                                        </th>
                                        <th>
                                            Mensaje
                                        </th>
                                        <th>
                                            Path
                                        </th>
                                        <th>
                                            Excepción
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>