﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Provincia";
}
@section Scripts{
    <script src="@Url.Content("~/assets/scripts/Provincia/ProvinciaJS.js?v" + @DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>
}

<input type="hidden" id="selectedProvinciaId" name="id_provincia" value="" />
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-user font-blue-ebonyclay"></i>
                    <span class="caption-subject bold font-blue-ebonyclay uppercase"> Provincias </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-8" id="panelTablaProvincia">
                        <!-- BEGIN TABLE PORTLET-->


                        <div class="table table-borderless">
                            <table class="table table-bordered table-striped table-condensed table-light" id="tabla">
                                <thead>
                                    <tr>
                                        <th>
                                            Descripción
                                        </th>
                                        <th>
                                            Latitud
                                        </th>
                                        <th>
                                            Longitud
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>


                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                    <div class="col-md-4">
                        <!-- BEGIN ABM PORTLET-->
                        <div class="portlet light" id="panelDatosProvincia">
                            <div class="portlet-title">
                                <div class="caption font-blue-ebonyclay">
                                    <i class="icon-pin font-blue-ebonyclay"></i>
                                    <span class="caption-subject bold uppercase"> GESTIONAR </span>
                                    <span class="caption-helper">
                                        <strong id="tit"></strong>
                                    </span>
                                </div>
                                <!--<div class="actions">
                                    <div class="btn-group">
                                        <a id="newUser" class="btn blue-ebonyclay btn-outline btn-circle " href="javascript:;" onclick="clearForm();">
                                            <i class="fa fa-plus"></i> Nuevo
                                        </a>
                                    </div>
                                </div>-->
                            </div>
                            <div class="portlet-body form">
                                <form id="form" role="form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="alert alert-danger display-hide">
                                                    <button class="close" data-close="alert"></button>
                                                    <span id="errorLabel"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Descripción</label>
                                                    <input class="form-control" name="Descripcion" id="txtDescripcion" />
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Latitud</label>
                                                    <input class="form-control" name="Latitud" id="txtLatitud" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Longitud</label>
                                                    <input class="form-control" name="Longitud" id="txtLongitud" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions noborder" align="center">
                                        <button type="button" onclick="enviarForm();" class="btn green-jungle">Guardar</button>
                                        <button type="button" onclick="clearForm();" class="btn grey-salsa">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END ABM PORTLET-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>