﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Proveedores";
}

@section scripts {
    <script src="@Url.Content("~/assets/scripts/Transporte/ProveedorJS.js?v" + @DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/scripts/Transporte/SLAJS.js?v" + @DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/scripts/Transporte/CircuitoRadialJS.js?v" + @DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>
}


@{
    var cds = (ProveedorTransporte)ViewData["cds"];
}

<input type="hidden" id="id_proveedor_transporte" name="id_proveedor_transporte" value="@cds.id_proveedor_transporte" />
<input type="hidden" id="ff_alta" name="ff_alta" value="@cds.ff_alta.ToString("dd-MM-yyyy")" />

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-truck font-blue-ebonyclay"></i>
                    <span class="caption-subject bold font-blue-ebonyclay uppercase"> CRUZ DEL SUR </span>
                </div>
                @* <div class="inputs" style=" width: 40%;">
                        <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                            <select id="cmbProveedorTransporte" name="IdProveedorTransporte" class="form-control">
                                <option value="0" disabled selected>Seleccione un proveedor</option>
                                @foreach (var p in ViewData["proveedores"] as List<ProveedorTransporte>)
                                {
                                    <option value="@p.id_proveedor_transporte">@p.descripcion</option>
                                }
                            </select>
                        </div>
                    </div>*@
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">
                        <div @*class="profile-sidebar"*@ id="PanelProveedor">
                            <div class="portlet light profile-sidebar-portlet bordered">
                                <div class="justify-content-center" id="avisoBusqueda" hidden>
                                    <div class="col-md-12">
                                        <div class="alert alert-warning">
                                            No <strong>existe</strong>  el proveedor que busca.
                                        </div>
                                    </div>
                                </div>
                                <div class="justify-content-center" id="avisoImagen" hidden>
                                    <div class="col-md-12">
                                        <div class="alert alert-info">
                                            <strong>Clickee</strong> la imagen para cambiar el logo.
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-userpic" >
                                    <img id="logo_proveedor" style=" width: 33%;" src="@cds.logo_proveedor" class="img-responsive" alt="">
                                    <div hidden>
                                        <input type='file' id="inputFile" hidden disabled />
                                    </div>
                                </div>
                                <div class="profile-usertitle" id="DivDescripcionNoEditable">
                                    <div class="profile-usertitle-name">
                                        <text id="descripcionNoEditable">@cds.descripcion<text>
                                    </div>
                                    <div class="portlet light" style="margin-bottom: 0px;">
                                        <div class="row list-separated profile-stat">
                                            <div class="col-md-7 col-sm-7 col-xs-7">
                                                <div class="uppercase profile-stat-title" style=" font-size: 23px;"> <text id="ValorMaximoPermitidoNoEditable">@cds.valor_maximo_permitido<text> kg. </div>
                                                <div class="uppercase profile-stat-text"> Valor Máximo Permitido</div>
                                            </div>
                                            <div class="col-md-5 col-sm-5 col-xs-5">
                                                <div class="uppercase profile-stat-title" style=" font-size: 23px;"> $ <text id="ValorPorRemitoNoEditable">@cds.valor_por_remito<text> </div>
                                                <div class="uppercase profile-stat-text"> Valor Por Remito </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="form-group" id="DivDescripcionEditable" hidden>
                                        <label for="descripcion">Descripción</label>
                                        <input type="text" class="form-control" id="descripcion" name="Descripcion" placeholder="Descripción" maxlength="50" value="@cds.descripcion">
                                    </div>
                                    <div class="form-group" id="DivValorMaximoPermitidoEditable" hidden>
                                        <label for="ValorMaximoPermitido">Valor Máximo Permitido</label>
                                        <input type="text" class="form-control" id="ValorMaximoPermitido" name="ValorMaximoPermitido" placeholder="Valor Máximo Permitido" maxlength="50" value="@cds.valor_maximo_permitido">
                                    </div>
                                    <div class="form-group" id="DivValorPorRemitoEditable" hidden>
                                        <label for="ValorPorRemito">Valor Por Remito</label>
                                        <input type="text" class="form-control" id="ValorPorRemito" name="ValorPorRemito" placeholder="Valor Por Remito" maxlength="50" value="@cds.valor_por_remito">
                                    </div>
                                </div>
                                <div class="profile-userbuttons ">
                                    <button type="button" id="btnNuevo" class="btn blue-ebonyclay btn-sm hidden"><i class="fa fa-plus"></i> Nuevo Proveedor</button>
                                    <button type="button" id="btnEditar" class="btn green btn-sm">Editar</button>
                                    <button type="button" id="btnGuardar" onclick="enviarForm(false);" class="btn green-jungle btn-sm hidden">Guardar</button>
                                    <button type="button" id="btnBorrar" class="btn red btn-sm eliminar hidden">Borrar</button>
                                    <button type="button" id="btnCancelar" class="btn grey-salsa btn-sm hidden cancelar">Cancelar</button>
                                </div>

                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="profile-content">
                            <div class="portlet light bordered">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-ebonyclay bold uppercase">Código Postal y Circuito Radial</span>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"> Código Postal </a>
                                        </li>
                                        <li class="">
                                            <a href="#tab_1_2" data-toggle="tab" aria-expanded="false"> Circuito Radial </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="portlet-body">
                                    <!--BEGIN TABS-->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_1_1">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="text-right">
                                                        <button id="nuevaSLA" disabled class="btn blue-ebonyclay btn-sm" href="javascript:;" onclick="newSLA();">
                                                            <i class="fa fa-plus"></i> Nuevo Código Postal
                                                        </button>
                                                    </p>
                                                    <!-- BEGIN TABLE PORTLET-->
                                                    <div id="PanelTablaSLA">
                                                        <div class="table table-borderless">
                                                            <table class="table table-bordered table-striped table-condensed table-light" id="tablaSLA">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            Código Postal
                                                                        </th>
                                                                        <th>
                                                                            Escala
                                                                        </th>
                                                                        <th>

                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END EXAMPLE TABLE PORTLET-->
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_1_2">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="text-right">
                                                        <button id="nuevoCircuitoRadial" disabled class="btn blue-ebonyclay btn-sm" href="javascript:;" onclick="$('#modalCircuito').modal('show');">
                                                            <i class="fa fa-plus"></i> Nuevo Circuito Radial
                                                        </button>
                                                    </p>
                                                    <!-- BEGIN TABLE PORTLET-->
                                                    <div id="PanelTablaContactos">
                                                        <div class="table table-borderless">
                                                            <table class="table table-bordered table-striped table-condensed table-light" id="tablaCircuitoRadial">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            Escala
                                                                        </th>
                                                                        <th>
                                                                            Valor
                                                                        </th>
                                                                        <th>
                                                                            Valor Adicional
                                                                        </th>
                                                                        <th>

                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <!-- END EXAMPLE TABLE PORTLET-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal SLA-->
<div class="modal fade" id="modalSLA" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>Gestionar SLA</strong></h4>
            </div>
            <div class="modal-body" id="PanelDatosSLA">
                <form id="form" role="form">
                    <input type="hidden" name="IdProveedorTransporte" value="" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                <span id="errorLabel"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form_control number">Código Postal</label>
                                    <input class="form-control" name="CodigoPostal" id="txtCodigoPostal" maxlength="10" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Escala</label>
                                    <input class="form-control number" name="Escala" id="txtEscalaSLA" />
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="enviarFormSLA();" class="btn green-jungle">Guardar</button>
                <button type="button" onclick="clearFormSLA();" class="btn grey-salsa">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal CircuitoRadial-->
<div class="modal fade" id="modalCircuito" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>Gestionar Circuito Radial</strong></h4>
            </div>
            <div class="modal-body" id="PanelDatosCircuito">
                <form id="formCircuito" role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                <span id="errorLabel"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form_control">Escala</label>
                                    <input class="form-control" name="EscalaCR" id="txtEscalaCR" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form_control">Valor</label>
                                    <input class="form-control" name="Valor" id="txtValor" maxlength="8" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form_control">Valor Adicional</label>
                                    <input class="form-control" name="ValorAdicional" id="txtValorAdicional" maxlength="8" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="enviarFormCircuito();" class="btn green-jungle">Guardar</button>
                <button type="button" onclick="clearFormCircuito();" class="btn grey-salsa">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Confirmación Circuito Radial-->
<div class="bootbox modal fade in" id="modalConfirmacion" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>CONFIRMACIÓN</strong></h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">¿Estás seguro que deseas <strong>borrar</strong> el circuito radial?</div>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="success" type="button" id="confirmacionAceptar" class="btn green-jungle">Aceptar</button>
                <button data-bb-handler="danger" type="button" id="confirmacionCancelar" class="btn red">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Confirmación SLA-->
<div class="bootbox modal fade in" id="modalConfirmacionSLA" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>CONFIRMACIÓN</strong></h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">¿Estás seguro que deseas <strong>borrar</strong> el código postal?</div>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="success" type="button" id="confirmacionAceptarSLA" class="btn green-jungle">Aceptar</button>
                <button data-bb-handler="danger" type="button" id="confirmacionCancelarSLA" class="btn red">Cancelar</button>
            </div>
        </div>
    </div>
</div>



