﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Producto";
}
@section scripts {
    <script src="@Url.Content("~/assets/scripts/Producto/ProductoJS.js?v" + @DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>
}

<input type="hidden" id="selectedProductoId" name="id_producto" value="" />
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-user font-blue-ebonyclay"></i>
                    <span class="caption-subject bold font-blue-ebonyclay uppercase"> Productos </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-8" id="panelTablaProducto">
                        <!-- BEGIN TABLE PORTLET-->


                        <div class="table table-borderless">
                            <table class="table table-bordered table-striped table-condensed table-light" id="tabla">
                                <thead>
                                    <tr>
                                        <th>
                                            Descripción
                                        </th>
                                        <th>
                                            Marca
                                        </th>
                                        <th>
                                            Modelo
                                        </th>
                                        <th>
                                            Volumen
                                        </th>
                                        <th>
                                            Peso Real
                                        </th>
                                        <th>
                                            Valor Unitario
                                        </th>
                                        <th>
                                            Observaciones
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                    <div class="col-md-4">
                        <!-- BEGIN ABM PORTLET-->
                        <div class="portlet light" id="PanelDatosProducto">
                            <div class="portlet-title">
                                <div class="caption font-blue-ebonyclay">
                                    <i class="icon-pin font-blue-ebonyclay"></i>
                                    <span class="caption-subject bold uppercase"> GESTIONAR </span>
                                    <span class="caption-helper">
                                        <strong id="tit"></strong>
                                    </span>
                                </div>
                                <div class="actions">
                                    <div class="btn-group">
                                        <a id="nuevoProducto" class="btn blue-ebonyclay btn-sm" href="javascript:;" onclick="clearForm(true);">
                                            <i class="fa fa-plus"></i> Nuevo Producto
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <form id="form" role="form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="alert alert-danger display-hide">
                                                    <button class="close" data-close="alert"></button>
                                                    <span id="errorLabel"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Descripción</label>
                                                    <input class="form-control" name="Descripcion" id="txtDescripcion" maxlength="30" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                                    <label for="cmbMarca" class="control-label">Marca</label>
                                                    <select id="cmbMarca" name="IdMarcaProducto" class="form-control select2">
                                                        <option value="0" disabled selected>Seleccionar</option>
                                                        @foreach (var c in ViewData["marcas"] as List<MarcaProducto>)
                                                        {
                                                            <option value="@c.id_marca_producto">@c.descripcion</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group" style="margin-bottom: 10px;padding-top: 0px;">
                                                    <label for="cmbModelo" class="control-label">Modelo</label>
                                                    <select id="cmbModelo" name="IdModeloProducto" class="form-control select2">
                                                        <option value="0" disabled selected>Seleccionar</option>
                                                        @foreach (var c in ViewData["modelos"] as List<ModeloProducto>)
                                                        {
                                                            <option value="@c.id_modelo_producto">@c.descripcion</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Volumen (CM)</label>
                                                    <input class="form-control" name="VolumenCm" id="txtVolumen" maxlength="30" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Peso Real</label>
                                                    <input class="form-control" name="PesoReal" id="txtPesoReal" maxlength="30" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Valor Unitario</label>
                                                    <input class="form-control" name="ValorUnitario" id="txtValorUnitario" maxlength="30" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Observaciones</label>
                                                    <textarea class="form-control" name="Observaciones" id="txtObservaciones" rows="3" maxlength="300"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions noborder" align="center">
                                        <button type="button" onclick="enviarForm();" class="btn green-jungle">Guardar</button>
                                        <button type="button" onclick="clearForm();" class="btn grey-salsa">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END ABM PORTLET-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bootbox modal fade in" id="modalConfirmacion" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title font-blue-ebonyclay uppercase"><strong>CONFIRMACIÓN</strong></h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">¿Estás seguro que deseas <strong>borrar</strong> este producto?</div>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="success" type="button" id="confirmacionAceptar" class="btn green-jungle">Aceptar</button>
                <button data-bb-handler="danger" type="button" id="confirmacionCancelar" class="btn red">Cancelar</button>
            </div>
        </div>
    </div>
</div>